body {
  font-family: 'PT Sans', helvetica, sans-serif;
  background-color: #000000;
  background-image: url('map2-opacity.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0px;
}

.logo img {
  margin-top: 10px;
  margin-left: 20px;
}

.login-butt {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  padding: 15px;
  border: 1px white solid;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border-radius: 5px;
}

/*holds form + headers*/
.formbod {
background-color: rgba(255,255,255,0.5);
display: block;
margin: 60px auto;
width: 600px;
}

/*holds h2 + h4*/
.signup {
  margin-bottom: 30px;
}

h2 {
  margin: 0px auto;
  padding: 0px;
  font-size: 35px;
  text-align: center;
}

h4 {

  margin: 10px auto;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

/*holds text and select inputs for form*/
.game-form {

}

/*text input class*/
.box {

}

/*select input class*/
.selectBox {

}

/*submit button*/
.submit-butt {

}

p {

}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #ffdd55;
}




/*PUZZLE PUZZLE PUZZLE PUZZLE PUZZLE PUZZLE PUZZLE PUZZLE */

/*create flexbox to hold puzzle pcs*/
.container {
  display: flex;
  width: 606px;
  height: 606px;
/*  width: 610px;
  height: 610px;*/
  /*background-color: black;*/
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 50px 100px;
}

.puzzle {
  /*position: absolute;*/
/*  background-image: url('pikachu.jpg');
*/  background-size: 600px 600px;
  background-repeat: no-repeat;
/*  background-size: initial;*/
  height: 200px;
  width: 200px;
/*  height: 120px;
  width: 120px;*/
  border: 1px black solid;
}

/*#pone {
  background-position: 0 0;
}

#ptwo {
  background-position: -200 -200;
}*/



/*fake fake fake ---- working???*/
/*div {
  font-size: 33px;
  text-align: center;
}
*/
