body {
/*  width: 800px;
  height: 500px;*/
  background-color: #f1f1f1;
}

/*create flexbox to hold puzzle pcs*/
.container {
  display: flex;
  width: 610px;
  height: 610px;
  background-color: black;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 50px 100px;
}

.puzzle {
  /*position: absolute;*/
  background-image: url('puzzle.jpg');
/*  background-size: initial;*/
  height: 120px;
  width: 120px;
  border: 1px black solid;
}

/*#pone {
  background-position: 0 0;
}

#ptwo {
  background-position: -200 -200;
}*/

/*css for form stuff*/
.formbod {
display: inline-block;
background-image:
}
