body {
/*  width: 800px;
  height: 500px;*/
  background-color: #f1f1f1;
}

/*create flexbox to hold puzzle pcs*/
.container {
  display: flex;
  width: 600px;
  height: 600px;
  background-color: black;
  flex-flow: row wrap;
  justify-content: flex-start;

}

.puzzle {
  /*position: absolute;*/
  background-image: url('puzzle.jpg');
  background-size: initial;
  height:200px;
  width: 200px;
}

/*#pone {
  background-position: 0 0;
}

#ptwo {
  background-position: -200 -200;
}*/
